<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Z E N</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<style media="screen">
		body {
			background: url('bg.jpeg') 0 0 scroll no-repeat transparent;
			background-size: cover;
			font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
			color: #fff;
		}

		.zen--container {
			display: flex;
			align-items: center;
			justify-content: center;

			height: 100vh;
		}

		.zen {
			padding: 30px;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 2px;

			opacity: 1;
		}
		.zen.show {
			opacity: 1;
			transition: all 1.5s;
		}

		.zen__jp,
		.zen__en {
			text-align: center;
			margin: 0;
			color: #fff;
		}
		.zen__jp {
			margin-bottom: 5%;
		}
	</style>
</head>
<body>
	<div class="zen--container">
		<div class="zen">
			<h1 class="zen__jp">{{{jpthought}}}</h1>
			<h1 class="zen__en">{{{enthought}}}</h1>
		</div>
	</div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-46070494-6', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
